.predictContainer {
    height: min-content;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #0e1f31;
}

.predictContainer h1 {
    color: #c9d2e2;
    margin-bottom: 10px;
}

.predictContainer textarea {
    background: #07182b;
}